<connectionStrings>
    <add name="Site"
         connectionString="Data Source=(local);Initial Catalog=Portal;User ID=admin;Password=qqq111!!!"
         providerName="System.Data.SqlClient" />

    <add name="SiteModules"
         connectionString="Data Source=(local);Initial Catalog=PortalModule;User ID=admin;Password=qqq111!!!"
         providerName="System.Data.SqlClient" />
</connectionStrings>