<?xml version = "1.0"
      encoding = "utf-8" ?>

<configuration>
    <connectionStrings>
        <add name = "Site"
             connectionString = "Data Source=(local);Initial Catalog=Portal;User ID=admin;Password=qqq111!!!"
             providerName = "System.Data.SqlClient" />
        <add name = "SiteModules"
             connectionString = "Data Source=(local);Initial Catalog=PortalModule;User ID=admin;Password=qqq111!!!"
             providerName = "System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version = "v4.0"
                          sku = ".NETFramework,Version=v4.6" />
    </startup>
</configuration>