<?xml version = "1.0"
      encoding = "utf-8" ?>

<configuration>
    <connectionStrings>
        <add name = "Site"
             connectionString = "Data Source=(local);Initial Catalog=Portal;User ID=admin;Password=qqq111!!!"
             providerName = "System.Data.SqlClient" />
        <add name = "SiteModules"
             connectionString = "Data Source=(local);Initial Catalog=PortalModule;User ID=admin;Password=qqq111!!!"
             providerName = "System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version = "v4.0"
                          sku = ".NETFramework,Version=v4.6" />
    </startup>

    <appSettings>
        <add key="MessageQueueSchedule" value="5"/>
        <!-- Seconds -->
        <!--<add key="QueueRabbitServiceHostName" value="192.168.254.62"/>-->
        <add key="QueueRabbitServiceHostName" value="localhost"/>
        <add key="QueueRabbitServicePort" value="5672"/>
        <add key="QueueRabbitServiceVirtualHost" value="/"/>
        <add key="QueueRabbitServiceUserName" value="admin"/>
        <add key="QueueRabbitServicePassword" value="qqq111!!!"/>

        <add key="QueuePortalServiceIn" value="mq:RequestData.inq"/>
        <add key="QueuePortalServiceOut" value="mq:ResponseData.inq"/>

        <add key="QueuePortalIn" value="Portal.inq"/>
    </appSettings>
</configuration>